@font-face {
    font-family:  'Inter';
    src: url('/src/fonts/Inter_24pt-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family:  'Inter';
    src: url('/src/fonts/Inter_18pt-SemiBold.woff');
    font-weight: 600;
}

@font-face {
    font-family:  'Inter';
    src: url('/src/fonts/Inter_18pt-Bold.woff');
    font-weight: 700;
}
