@use "./vars" as *;
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}

.header__img {
  width: 85px;
  height: 20px;
}

.nav {
  position: fixed;
  bottom: -200%;
  z-index: 10;
  background-color: #00b9b6;
  right: 8px;
  left: 8px;
  border-radius: 10px;
  padding: 7px;
  transition: bottom 0.3s;
  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    position: relative;
    padding-bottom: 130px;
  } 
  &__link{
    width: 100%;
  }
  &__link:first-of-type {
    margin-top: 50px;
  }
  &__link-item{
    display: block;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    text-decoration:none ;
    text-align: center;
    background-color: #f4f4f4;
    color: #006ed4;
    font-weight: $text-weight ;
  }
}
.active{
    bottom: 0;
}


.head__box {
  order: 1;
}

.head__box-lang {
  display: none;
}

.btn{
  font-weight: 600;
  background: $gradient-color ;
  box-shadow: 0px 15px 30px 0px rgba(220, 232, 243, 0.25);
}

.head__btn {
  border-radius: 12px;
  color: white;
  width: 120px;
  height: 30px;
  font-size: 12px;
}
.burger__box {
  order: 2;
}

.burger__open {
  width: 100%;
}

.burger__close {
    position: absolute;
  right: 0;
  cursor: pointer;
}

// Баннер

.banner{
  @include flex-column;
  &__box{
    @include flex-column;
    gap: 5px;
  }
  &__text{
    color: $text-color;
  }
  &__title{
    font-weight: $text-weight;
    font-size: 26px;
    text-align: center;
    line-height: 33px;
  }
  &__btn{
    color: white;
    width: 195px;
    height: 45px;
    border-radius: 12px;
    margin-top: 20px;
  }
  &__img{
    text-align: center;
    margin-top: 30px;
  }
  }
