@use "./vars" as *;

.interviews {
  // .interviews__cont
  padding-top: 80px;
  &__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @include vieport-md {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }
    @include vieport-lg {
      gap: 0px;
    }
  }

  // .interviews__preview

  &__preview {
    @include vieport-md {
      flex: 1 1 100%;
      padding-bottom: 20px;
    }
    @include vieport-lg {
      padding-bottom: 40px;
    }
    @include vieport-xxl {
      padding-bottom: 50px;
    }
  }

  // .interviews__preview-title

  &__preview-title {
    font-weight: $text-weight;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    @include vieport-md {
      text-align: start;
      font-size: 28px;
    }
    @include vieport-lg {
      font-size: 32px;
    }
    @include vieport-xl {
      font-size: 34px;
    }
    @include vieport-xxl {
      font-size: 36px;
    }
  }

  // .interviews__preview-text

  &__preview-text {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: $text-color;
    @include vieport-md {
      text-align: start;
    }
    @include vieport-lg {
      font-size: 18px;
    }
  }

  // .interviews__box

  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include vieport-md {
      flex: 1 1 45%;
      gap: 40px;
    }
    @include vieport-xl {
      gap: 50px;
    }
  }

  // .interviews__box-list

  &__box-list {
    position: relative;
    padding-left: 30px;
    @include vieport-lg {
      padding-left: 45px;
    }
  }

  // .interviews__box-title

  &__box-title {
    font-weight: $text-weight;
    font-size: 18px;
    line-height: 120%;
    color: rgba(14, 14, 15, 1);
    margin-bottom: 10px;
    @include vieport-md {
      line-height: 140%;
    }
    @include vieport-lg {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  // .interviews__box-num

  &__box-num {
    position: absolute;
    top: -25px;
    left: 0;
    font-weight: $text-weight;
    font-size: 100px;
    color: $text-color;
    opacity: 0.1;
    @include vieport-lg {
      font-size: 128px;
      top: -20px;
    }
  }

  // .interviews__box-text

  &__box-text {
    font-size: 16px;
    line-height: 140%;
    color: rgba(51, 51, 51, 1);
    @include vieport-md {
      line-height: 150%;
    }
    @include vieport-lg {
      font-size: 18px;
    }
  }

  // .interviews__img
  &__img {
    @include vieport-md {
      flex: 0 1 40%;
      text-align: center;
    }
  }

  &__img > img {
    @include vieport-md {
      width: 300px;
      height: 290px;
    }
    @include vieport-lg {
      width: 340px;
      height: 330px;
    }
    @include vieport-xl {
      width: 365px;
      height: 350px;
    }
    @include vieport-xxl {
      width: 380px;
      height: 390px;
    }
  }
}
