@use "./vars" as *;

.app {
  padding-top: 50px;
  @include vieport-md {
    padding-top: 80px;
  }
  @include vieport-lg {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
  }
  @include vieport-xxl {
    gap: 90px;
  }
  &__img {
    display: flex;
    justify-content: center;
  }
  &__img-video {
    @include vieport-md {
      width: 450px;
      height: 250px;
    }
    @include vieport-lg {
      width: 530px;
      height: 295px;
    }
    @include vieport-xl {
      width: 575px;
      height: 300px;
    }
    @include vieport-xxl {
      width: 615px;
      height: 340px;
    }
  }
  &__box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include vieport-md {
      margin-top: 40px;
      align-items: start;
    }
    @include vieport-lg {
      margin-top: 0;
      gap: 10px;
    }
  }
  &__title {
    font-weight: $text-weight;
    text-align: center;
    font-size: 24px;
    @include vieport-md {
      text-align: start;
      font-size: 28px;
      line-height: 33px;
    }
    @include vieport-lg {
      font-size: 32px;
      line-height: 38px;
    }
    @include vieport-xxl {
      max-width: 535px;
    }
  }
  &__cont {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 15px;
    @include vieport-md {
      max-width: 340px;
    }
  }
  &__cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    @include vieport-md {
      width: 80px;
      height: 80px;
    }
    @include vieport-lg {
      width: 90px;
      height: 90px;
    }
  }
  &__cont-title {
    justify-self: start;
    align-self: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: $text-color;
    font-weight: 600;
    font-size: 18px;
    @include vieport-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include vieport-xxl {
      font-size: 24px;
      line-height: 33px;
    }
  }
  &__cont-text {
    line-height: 20px;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    @include vieport-md {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__prog {
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
  }
  &__prog-btn {
    background: rgb(46, 58, 89);
    padding: 8px 8px;
    width: 140px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
  }
}

// Секция с темами

.theme {
  padding-top: 30px;
  &__title {
    font-weight: $text-weight;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    @include vieport-md {
      font-size: 28px;
    }
    @include vieport-lg {
      font-size: 32px;
    }
  }
  &__box {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    @include vieport-md {
      max-width: 630px;
      margin: 0 auto;
    }
    @include vieport-lg {
      max-width: 865px;
    }
    @include vieport-xl {
      max-width: 1010px;
    }
  }
  &__box-text {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    padding: 10px 30px;
    @include vieport-md {
      font-size: 16px;
    }
    @include vieport-lg {
      font-size: 18px;
    }
  }
  &__box-text:hover {
    color: $text-color;
    box-shadow: 0px 4px 25px 0px rgba(0, 185, 182, 0.25);
  }
}

.text-last {
  background: $gradient-color;
  font-weight: $text-weight;
  color: rgba(255, 255, 255, 1);
}

// Swiper

.my-swiper.my-swiper{
  padding-top: 20px;
  padding-bottom: 20px;
}

.teach {
  &__box{
    border-radius: 12px;
    padding: 15px 15px 40px 15px;
    gap: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  &__foto{
      width: 255px;
      height: 230px;
  }
  &__text{
    text-align: start;
    margin-top: 20px;
  }
  &__arrow{
  display: block;
  margin-left: auto;
  margin-top: 20px;
  }
}