$gradient-color:linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
$text-weight: 700 ;
$text-color: rgba(0, 185, 182, 1);
// !breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xxl: 1920px;

// !MIXINS

@mixin vieport-md {
	@media (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin vieport-lg {
	@media (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin vieport-xxl {
	@media (min-width: $breakpoint-xxl) {
		@content;
	}
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
